<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<div class="container" style="width: 100%; height: 100%;">
  <img class="candado" src="../../../assets/candado.png" alt="">
  <ion-content padding>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="email" type="text"></ion-input>

  </ion-item>
  <ion-item >
    <ion-label position="floating" >Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password" ></ion-input>
  </ion-item>
  <ion-item style="margin-bottom: 3rem;" >
    <ion-label position="stacked">Usuario</ion-label>
    <ion-select (ionChange)="onChange($event.target.value)" placeholder="Seleccione uno: ">
      <ion-select-option *ngFor="let usuario of usuarios"value="{{usuario.id}}">{{usuario.nombre}}</ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-button (click)="ingresar()" expand = "block" color = "primary">Ingresar</ion-button>

</ion-content>

</div>